doctype html
html(lang='en')
  head
    title Imba - Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" media="screen")
    link(rel="stylesheet" href="/index.css" media="screen")
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js")

  body

    .ui.vertical.inverted.sidebar.menu
      a.active.item Home
      a.item Work
      a.item Company
      a.item Careers
      a.item Login
      a.item Signup

    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            a.toc.item
              i.sidebar.icon
            a.active.item Home
            a.item Work
            a.item Company
            a.item Careers
            .right.item.auth
        //- .ui.text.container
        //-   h1.ui.inverted.header
        //-     | Imagine-a-Company
        //-   h2 Do whatever you want when you want to.

      .ui.vertical.stripe.segment.main

      .ui.inverted.vertical.footer.segment
        .ui.container.center.aligned
          .ui.inverted
            .column
              p
                | Built with IMBA, Pug, Stylus, Semantic UI, Gulp on a Mac in San Antonio

    script(type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js")
    script(src="/client.js")
    script.
      $('.ui.sidebar').sidebar('attach events','.toc.item')
      $('.ui.checkbox').checkbox()
      netlifyIdentity.on('logout', () => Imba.commit())
      netlifyIdentity.on('login', () => Imba.commit())
      Imba.commit()

