doctype html
html(lang='en')
  head
    title Imba - Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet" href="/index.css" media="screen")
  body
    h1 IMBA
    div(data-netlify-identity-menu)
    script(src="/client.js")
    script(type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js")

